USE [master]
GO
/****** Object:  Database [DT_DB]    Script Date: 11/28/2025 8:04:00 PM ******/
CREATE DATABASE [DT_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DT_DB_Data', FILENAME = N'D:\HCSDLDT5\DA_QL_KHO-main\DT_DB. mdf' , SIZE = 102400KB , MAXSIZE = 1048576KB , FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'DT_DB_Log', FILENAME = N'D:\HCSDLDT5\DA_QL_KHO-main\DT_DB_log.ldf' , SIZE = 51200KB , MAXSIZE = 512000KB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DT_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DT_DB]
GO
/****** Object:  User [user_quanly]    Script Date: 11/28/2025 8:04:00 PM ******/
CREATE USER [user_quanly] FOR LOGIN [login_quanly] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_khach]    Script Date: 11/28/2025 8:04:00 PM ******/
CREATE USER [user_khach] FOR LOGIN [login_khach] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_admin]    Script Date: 11/28/2025 8:04:00 PM ******/
CREATE USER [user_admin] FOR LOGIN [login_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [role_quanly]    Script Date: 11/28/2025 8:04:00 PM ******/
CREATE ROLE [role_quanly]
GO
/****** Object:  DatabaseRole [role_khach]    Script Date: 11/28/2025 8:04:00 PM ******/
CREATE ROLE [role_khach]
GO
/****** Object:  DatabaseRole [role_admin]    Script Date: 11/28/2025 8:04:00 PM ******/
CREATE ROLE [role_admin]
GO
ALTER ROLE [role_quanly] ADD MEMBER [user_quanly]
GO
ALTER ROLE [role_khach] ADD MEMBER [user_khach]
GO
ALTER ROLE [role_admin] ADD MEMBER [user_admin]
GO
/****** Object:  UserDefinedFunction [dbo].[fun_check_account]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- FUNCTION 1: Kiểm tra tài khoản
CREATE FUNCTION [dbo].[fun_check_account](@user NVARCHAR(100), @pass NVARCHAR(255))
RETURNS INT
AS
BEGIN
    DECLARE @result INT = 0;
    IF EXISTS (
        SELECT 1 FROM NGUOIDUNG 
        WHERE TenNguoiDung = @user AND MatKhau = @pass AND TrangThai = 'HoatDong'
    )
        SET @result = 1;
    RETURN @result;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fun_get_revenue_by_date]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FUNCTION 2: Tính doanh thu theo ngày
CREATE FUNCTION [dbo].[fun_get_revenue_by_date](@Ngay DATE)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @DoanhThu DECIMAL(18,2);
    SELECT @DoanhThu = ISNULL(SUM(TongTien), 0)
    FROM HOADON
    WHERE CONVERT(DATE, NgayLap) = @Ngay AND TrangThai = N'Đã thanh toán';
    RETURN @DoanhThu;
END;
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [char](10) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MaDM] [char](10) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [char](10) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[SoLuongTon] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[MaNCC] [char](10) NULL,
	[MaDM] [char](10) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SanPhamDayDu]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW 1: Sản phẩm đầy đủ
CREATE VIEW [dbo].[vw_SanPhamDayDu]
AS
SELECT 
    s.MaSP, s.TenSP, s.DonGia, s.DonViTinh, s.SoLuongTon, s.HinhAnh, s.MoTa,
    dm.TenDM AS DanhMuc, ncc.TenNCC AS NhaCungCap, s.TrangThai
FROM SANPHAM s
LEFT JOIN DANHMUC dm ON s.MaDM = dm.MaDM
LEFT JOIN NHACUNGCAP ncc ON s.MaNCC = ncc. MaNCC;
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaUser] [char](10) NOT NULL,
	[TenNguoiDung] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [varchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Role] [varchar](20) NOT NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [char](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](30) NULL,
	[PhuongThucTT] [nvarchar](20) NULL,
	[MaKH] [char](10) NULL,
	[MaQL] [char](10) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HoaDonChiTiet]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW 2: Hóa đơn chi tiết
CREATE VIEW [dbo].[vw_HoaDonChiTiet]
AS
SELECT 
    h.MaHD, h. NgayLap, kh.TenNguoiDung AS KhachHang, kh. SDT AS SDT_KhachHang,
    ql.TenNguoiDung AS QuanLy, h.TongTien, h. TrangThai, h.PhuongThucTT
FROM HOADON h
LEFT JOIN NGUOIDUNG kh ON h.MaKH = kh.MaUser
LEFT JOIN NGUOIDUNG ql ON h.MaQL = ql.MaUser;
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaUser] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GioHangDayDu]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_GioHangDayDu]
AS
SELECT 
    g.MaGH, g.MaUser, g.SoLuong, g.DonGia, g.NgayThem,
    g.SoLuong * g.DonGia AS ThanhTien,
    s.MaSP, s.TenSP, s.HinhAnh, s.SoLuongTon,
    nd.TenNguoiDung, nd.Email
FROM GIOHANG g
INNER JOIN SANPHAM s ON g.MaSP = s.MaSP
INNER JOIN NGUOIDUNG nd ON g.MaUser = nd.MaUser;
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [char](10) NOT NULL,
	[MaUser] [char](10) NOT NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DiaChiGiao] [nvarchar](200) NULL,
	[SDT] [varchar](15) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[PhuongThucTT] [nvarchar](30) NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DonHangDayDu]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_DonHangDayDu]
AS
SELECT 
    dh.MaDH, dh.MaUser, dh. NgayDat, dh. TongTien, dh.TrangThai,
    dh.DiaChiGiao, dh.SDT, dh.GhiChu, dh.PhuongThucTT,
    nd.TenNguoiDung, nd.Email,
    COUNT(ct.MaCTDH) AS SoLuongSanPham
FROM DONHANG dh
INNER JOIN NGUOIDUNG nd ON dh.MaUser = nd.MaUser
LEFT JOIN CHITIETDONHANG ct ON dh.MaDH = ct.MaDH
GROUP BY dh.MaDH, dh.MaUser, dh.NgayDat, dh.TongTien, dh.TrangThai,
         dh.DiaChiGiao, dh.SDT, dh.GhiChu, dh.PhuongThucTT,
         nd.TenNguoiDung, nd.Email;
GO
/****** Object:  Table [dbo].[AUDITLOG]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITLOG](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[Operation] [nvarchar](20) NULL,
	[MaUser] [char](10) NULL,
	[NgayThucHien] [datetime] NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACKUP_HISTORY]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACKUP_HISTORY](
	[BackupID] [int] IDENTITY(1,1) NOT NULL,
	[BackupType] [nvarchar](20) NULL,
	[BackupPath] [nvarchar](500) NULL,
	[BackupSize] [bigint] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BackupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MaHD] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAPHANG]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAPHANG](
	[MaHDN] [char](10) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[TongTien] [decimal](18, 2) NULL,
	[MaNCC] [char](10) NOT NULL,
	[MaQL] [char](10) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaHDN] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGiaNhap]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM_BACKUP_20250115]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_BACKUP_20250115](
	[MaSP] [char](10) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[SoLuongTon] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[MaNCC] [char](10) NULL,
	[MaDM] [char](10) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_DONHANG_TrangThai]    Script Date: 11/28/2025 8:04:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_DONHANG_TrangThai] ON [dbo].[DONHANG]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_DONHANG_User]    Script Date: 11/28/2025 8:04:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_DONHANG_User] ON [dbo].[DONHANG]
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_GIOHANG_User]    Script Date: 11/28/2025 8:04:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_GIOHANG_User] ON [dbo].[GIOHANG]
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_HOADON_NgayLap]    Script Date: 11/28/2025 8:04:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_HOADON_NgayLap] ON [dbo].[HOADON]
(
	[NgayLap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_HOADON_TrangThai]    Script Date: 11/28/2025 8:04:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_HOADON_TrangThai] ON [dbo].[HOADON]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_NGUOIDUNG_Email]    Script Date: 11/28/2025 8:04:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_NGUOIDUNG_Email] ON [dbo].[NGUOIDUNG]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SANPHAM_MaDM]    Script Date: 11/28/2025 8:04:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_SANPHAM_MaDM] ON [dbo].[SANPHAM]
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SANPHAM_MaNCC]    Script Date: 11/28/2025 8:04:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_SANPHAM_MaNCC] ON [dbo].[SANPHAM]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SANPHAM_TrangThai]    Script Date: 11/28/2025 8:04:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_SANPHAM_TrangThai] ON [dbo].[SANPHAM]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDITLOG] ADD  DEFAULT (getdate()) FOR [NgayThucHien]
GO
ALTER TABLE [dbo].[DANHMUC] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DANHMUC] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (N'COD') FOR [PhuongThucTT]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[GIOHANG] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[GIOHANG] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ADD  DEFAULT ('DaHoanThanh') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DH] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CTDH_DH]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CTDH_SP]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DH_User] FOREIGN KEY([MaUser])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DH_User]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GH_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GH_SP]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GH_User] FOREIGN KEY([MaUser])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GH_User]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_QL] FOREIGN KEY([MaQL])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_QL]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDN_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HDN_NCC]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDN_QL] FOREIGN KEY([MaQL])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HDN_QL]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_HDN] FOREIGN KEY([MaHDN])
REFERENCES [dbo].[HOADONNHAPHANG] ([MaHDN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_HDN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_SP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DM] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DANHMUC] ([MaDM])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NCC]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã giao' OR [TrangThai]=N'Đang giao' OR [TrangThai]=N'Đã xác nhận' OR [TrangThai]=N'Chờ xác nhận'))
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([PhuongThucTT]=N'Thẻ' OR [PhuongThucTT]=N'Chuyển khoản' OR [PhuongThucTT]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Chờ xử lý'))
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD CHECK  (([Role]='khach' OR [Role]='quanly' OR [Role]='admin'))
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD CHECK  (([TrangThai]='KhongHoatDong' OR [TrangThai]='HoatDong'))
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD CHECK  (([DonGiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([TrangThai]='HetHang' OR [TrangThai]='KhongHoatDong' OR [TrangThai]='HoatDong'))
GO
/****** Object:  StoredProcedure [dbo].[proc_alter_user]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 2: Sửa thông tin người dùng (TRANSACTION)
CREATE PROCEDURE [dbo].[proc_alter_user]
    @username NVARCHAR(100),
    @pass NVARCHAR(255) = NULL,
    @email VARCHAR(100) = NULL,
    @sdt VARCHAR(15) = NULL,
    @diachi NVARCHAR(200) = NULL,
    @role VARCHAR(20) = NULL,
    @trangthai VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @MaUser CHAR(10);
        SELECT @MaUser = MaUser FROM NGUOIDUNG WHERE TenNguoiDung = @username;
        
        IF @MaUser IS NULL
        BEGIN
            RAISERROR(N'Không tìm thấy người dùng', 16, 1);
            RETURN;
        END

        UPDATE NGUOIDUNG
        SET 
            MatKhau = ISNULL(@pass, MatKhau),
            Email = ISNULL(@email, Email),
            SDT = ISNULL(@sdt, SDT),
            DiaChi = ISNULL(@diachi, DiaChi),
            Role = ISNULL(@role, Role),
            TrangThai = ISNULL(@trangthai, TrangThai),
            NgayCapNhat = GETDATE()
        WHERE MaUser = @MaUser;

        INSERT INTO AUDITLOG (TableName, Operation, MaUser, NoiDung)
        VALUES ('NGUOIDUNG', 'UPDATE', @MaUser, N'Cập nhật: ' + @username);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_create_user]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 1: Tạo người dùng mới (TRANSACTION)
CREATE PROCEDURE [dbo].[proc_create_user]
    @username NVARCHAR(100),
    @pass NVARCHAR(255),
    @email VARCHAR(100),
    @sdt VARCHAR(15) = NULL,
    @diachi NVARCHAR(200) = NULL,
    @role VARCHAR(20) = 'khach'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF EXISTS (SELECT 1 FROM NGUOIDUNG WHERE Email = @email)
        BEGIN
            RAISERROR(N'Email đã tồn tại', 16, 1);
            RETURN;
        END

        INSERT INTO NGUOIDUNG (TenNguoiDung, MatKhau, Email, SDT, DiaChi, Role)
        VALUES (@username, @pass, @email, @sdt, @diachi, @role);

        INSERT INTO AUDITLOG (TableName, Operation, NoiDung)
        VALUES ('NGUOIDUNG', 'INSERT', N'Tạo người dùng: ' + @username);

        COMMIT TRANSACTION;
        PRINT N'Tạo người dùng thành công';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_delete_user]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 3: Xóa người dùng (soft delete)
CREATE PROCEDURE [dbo].[proc_delete_user]
    @username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        UPDATE NGUOIDUNG
        SET TrangThai = 'KhongHoatDong', NgayCapNhat = GETDATE()
        WHERE TenNguoiDung = @username;

        INSERT INTO AUDITLOG (TableName, Operation, NoiDung)
        VALUES ('NGUOIDUNG', 'DELETE', N'Vô hiệu hóa: ' + @username);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupDatabase]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 8: Sao lưu database (TRANSACTION)
CREATE PROCEDURE [dbo].[sp_BackupDatabase]
    @BackupType VARCHAR(20) = 'FULL', -- 'FULL', 'DIFFERENTIAL', 'LOG'
    @BackupPath NVARCHAR(500) = 'C:\SQLBackup\'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @BackupFile NVARCHAR(500);
        DECLARE @DateTime VARCHAR(20) = CONVERT(VARCHAR(20), GETDATE(), 112) + '_' + REPLACE(CONVERT(VARCHAR(20), GETDATE(), 108), ':', '');
        DECLARE @StartTime DATETIME = GETDATE();
        DECLARE @SQL NVARCHAR(MAX);
        
        IF @BackupType = 'FULL'
        BEGIN
            SET @BackupFile = @BackupPath + 'DT_DB_FULL_' + @DateTime + '.bak';
            SET @SQL = 'BACKUP DATABASE DT_DB TO DISK = ''' + @BackupFile + ''' WITH INIT, FORMAT, NAME = ''Full Backup''';
        END
        ELSE IF @BackupType = 'DIFFERENTIAL'
        BEGIN
            SET @BackupFile = @BackupPath + 'DT_DB_DIFF_' + @DateTime + '.bak';
            SET @SQL = 'BACKUP DATABASE DT_DB TO DISK = ''' + @BackupFile + ''' WITH DIFFERENTIAL, INIT, FORMAT';
        END
        ELSE IF @BackupType = 'LOG'
        BEGIN
            SET @BackupFile = @BackupPath + 'DT_DB_LOG_' + @DateTime + '. trn';
            SET @SQL = 'BACKUP LOG DT_DB TO DISK = ''' + @BackupFile + ''' WITH INIT, FORMAT';
        END
        
        EXEC sp_executesql @SQL;
        
        INSERT INTO BACKUP_HISTORY (BackupType, BackupPath, StartTime, EndTime, Status)
        VALUES (@BackupType, @BackupFile, @StartTime, GETDATE(), 'Success');
        
        PRINT N'Sao lưu thành công: ' + @BackupFile;
    END TRY
    BEGIN CATCH
        INSERT INTO BACKUP_HISTORY (BackupType, BackupPath, StartTime, EndTime, Status, ErrorMessage)
        VALUES (@BackupType, @BackupFile, @StartTime, GETDATE(), 'Failed', ERROR_MESSAGE());
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoDoanhThu]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 4: Báo cáo doanh thu
CREATE PROCEDURE [dbo].[sp_BaoCaoDoanhThu]
    @TuNgay DATE,
    @DenNgay DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        CONVERT(DATE, NgayLap) AS Ngay,
        COUNT(*) AS SoLuongHoaDon,
        SUM(TongTien) AS TongDoanhThu,
        AVG(TongTien) AS DoanhThuTrungBinh
    FROM HOADON
    WHERE NgayLap BETWEEN @TuNgay AND @DenNgay
        AND TrangThai = N'Đã thanh toán'
    GROUP BY CONVERT(DATE, NgayLap)
    ORDER BY Ngay DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoSanPhamBanChay]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 5: Báo cáo sản phẩm bán chạy
CREATE PROCEDURE [dbo].[sp_BaoCaoSanPhamBanChay]
    @Top INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP (@Top)
        s.MaSP, s.TenSP, dm.TenDM,
        SUM(ct.SoLuong) AS TongSoLuongBan,
        SUM(ct. SoLuong * ct.DonGia) AS TongDoanhThu,
        s.SoLuongTon
    FROM CTHOADON ct
    INNER JOIN SANPHAM s ON ct.MaSP = s.MaSP
    INNER JOIN DANHMUC dm ON s.MaDM = dm.MaDM
    INNER JOIN HOADON h ON ct.MaHD = h.MaHD
    WHERE h.TrangThai = N'Đã thanh toán'
    GROUP BY s.MaSP, s.TenSP, dm.TenDM, s.SoLuongTon
    ORDER BY TongSoLuongBan DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTonKho]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 6: Báo cáo tồn kho
CREATE PROCEDURE [dbo].[sp_BaoCaoTonKho]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        dm.TenDM, s.MaSP, s.TenSP, s.SoLuongTon, s.DonGia,
        s.SoLuongTon * s.DonGia AS GiaTriTonKho,
        s.TrangThai
    FROM SANPHAM s
    INNER JOIN DANHMUC dm ON s.MaDM = dm.MaDM
    WHERE s.TrangThai IN ('HoatDong', 'HetHang')
    ORDER BY dm.TenDM, s. TenSP;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckLowStock]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 7: Kiểm tra sản phẩm sắp hết hàng (CURSOR)
CREATE PROCEDURE [dbo].[sp_CheckLowStock]
    @SoLuongToiThieu INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MaSP CHAR(10), @TenSP NVARCHAR(100), @SoLuongTon INT, @Message NVARCHAR(500);
    
    CREATE TABLE #LowStockProducts (
        MaSP CHAR(10), TenSP NVARCHAR(100), 
        SoLuongTon INT, ThongBao NVARCHAR(500)
    );
    
    DECLARE cur_LowStock CURSOR FOR
    SELECT MaSP, TenSP, SoLuongTon
    FROM SANPHAM
    WHERE SoLuongTon <= @SoLuongToiThieu AND TrangThai = 'HoatDong'
    ORDER BY SoLuongTon ASC;
    
    OPEN cur_LowStock;
    FETCH NEXT FROM cur_LowStock INTO @MaSP, @TenSP, @SoLuongTon;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @Message = N'Cảnh báo: "' + @TenSP + N'" còn ' + CAST(@SoLuongTon AS NVARCHAR(10)) + N' sản phẩm';
        INSERT INTO #LowStockProducts VALUES (@MaSP, @TenSP, @SoLuongTon, @Message);
        FETCH NEXT FROM cur_LowStock INTO @MaSP, @TenSP, @SoLuongTon;
    END;
    
    CLOSE cur_LowStock;
    DEALLOCATE cur_LowStock;
    
    SELECT * FROM #LowStockProducts;
    DROP TABLE #LowStockProducts;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_NhapHang]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 9: Nhập hàng (TRANSACTION + TRIGGER)
CREATE PROCEDURE [dbo].[sp_NhapHang]
    @MaNCC CHAR(10),
    @MaQL CHAR(10),
    @ChiTietNhap NVARCHAR(MAX) -- JSON: [{"MaSP":"SP001","SoLuong":100,"DonGiaNhap":50000}]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Tạo hóa đơn nhập
        DECLARE @MaHDN CHAR(10);
        INSERT INTO HOADONNHAPHANG (NgayNhap, MaNCC, MaQL)
        VALUES (GETDATE(), @MaNCC, @MaQL);
        
        SET @MaHDN = (SELECT TOP 1 MaHDN FROM HOADONNHAPHANG ORDER BY NgayTao DESC);
        
        -- Thêm chi tiết (sử dụng JSON)
        INSERT INTO PHIEUNHAP (MaHDN, MaSP, SoLuong, DonGiaNhap)
        SELECT @MaHDN, MaSP, SoLuong, DonGiaNhap
        FROM OPENJSON(@ChiTietNhap)
        WITH (
            MaSP CHAR(10) '$.MaSP',
            SoLuong INT '$.SoLuong',
            DonGiaNhap DECIMAL(18,2) '$.DonGiaNhap'
        );
        
        -- Trigger tự động cập nhật tồn kho và tổng tiền
        
        INSERT INTO AUDITLOG (TableName, Operation, NoiDung)
        VALUES ('HOADONNHAPHANG', 'INSERT', N'Nhập hàng: ' + @MaHDN);
        
        COMMIT TRANSACTION;
        SELECT @MaHDN AS MaHDN, N'Nhập hàng thành công' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoDonHang]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TaoDonHang]
    @MaUser CHAR(10),
    @DiaChiGiao NVARCHAR(200),
    @SDT VARCHAR(15),
    @GhiChu NVARCHAR(500) = NULL,
    @PhuongThucTT NVARCHAR(30) = N'COD'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Kiểm tra giỏ hàng có sản phẩm không
        IF NOT EXISTS (SELECT 1 FROM GIOHANG WHERE MaUser = @MaUser)
        BEGIN
            RAISERROR(N'Giỏ hàng trống', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Tính tổng tiền
        DECLARE @TongTien DECIMAL(18,2) = (
            SELECT SUM(SoLuong * DonGia)
            FROM GIOHANG
            WHERE MaUser = @MaUser
        );

        -- Tạo đơn hàng
        INSERT INTO DONHANG (MaUser, NgayDat, TongTien, DiaChiGiao, SDT, GhiChu, PhuongThucTT)
        VALUES (@MaUser, GETDATE(), @TongTien, @DiaChiGiao, @SDT, @GhiChu, @PhuongThucTT);

        -- Lấy mã đơn hàng vừa tạo
        DECLARE @MaDH CHAR(10) = (SELECT TOP 1 MaDH FROM DONHANG ORDER BY NgayDat DESC);

        -- Chuyển sản phẩm từ giỏ sang chi tiết đơn hàng
        INSERT INTO CHITIETDONHANG (MaDH, MaSP, SoLuong, DonGia)
        SELECT @MaDH, MaSP, SoLuong, DonGia
        FROM GIOHANG
        WHERE MaUser = @MaUser;

        -- Xóa giỏ hàng
        DELETE FROM GIOHANG WHERE MaUser = @MaUser;

        -- Ghi log
        INSERT INTO AUDITLOG (TableName, Operation, MaUser, NoiDung)
        VALUES ('DONHANG', 'INSERT', @MaUser, N'Tạo đơn hàng: ' + @MaDH);

        COMMIT TRANSACTION;
        SELECT 1 AS Success, @MaDH AS MaDH, N'Đặt hàng thành công' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHoaDonBan]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 10: Tạo hóa đơn bán (TRANSACTION + TRIGGER)
CREATE PROCEDURE [dbo].[sp_TaoHoaDonBan]
    @MaKH CHAR(10),
    @MaQL CHAR(10),
    @PhuongThucTT NVARCHAR(20),
    @ChiTietBan NVARCHAR(MAX) -- JSON: [{"MaSP":"SP001","SoLuong":2,"DonGia":1000000}]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Tạo hóa đơn bán
        DECLARE @MaHD CHAR(10);
        INSERT INTO HOADON (NgayLap, PhuongThucTT, MaKH, MaQL, TrangThai)
        VALUES (GETDATE(), @PhuongThucTT, @MaKH, @MaQL, N'Đã thanh toán');
        
        SET @MaHD = (SELECT TOP 1 MaHD FROM HOADON ORDER BY NgayTao DESC);
        
        -- Thêm chi tiết
        INSERT INTO CTHOADON (MaHD, MaSP, SoLuong, DonGia)
        SELECT @MaHD, MaSP, SoLuong, DonGia
        FROM OPENJSON(@ChiTietBan)
        WITH (
            MaSP CHAR(10) '$.MaSP',
            SoLuong INT '$.SoLuong',
            DonGia DECIMAL(18,2) '$.DonGia'
        );
        
        -- Trigger tự động kiểm tra tồn kho và cập nhật
        
        INSERT INTO AUDITLOG (TableName, Operation, NoiDung)
        VALUES ('HOADON', 'INSERT', N'Bán hàng: ' + @MaHD);
        
        COMMIT TRANSACTION;
        SELECT @MaHD AS MaHD, N'Tạo hóa đơn thành công' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemVaoGioHang]    Script Date: 11/28/2025 8:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThemVaoGioHang]
    @MaUser CHAR(10),
    @MaSP CHAR(10),
    @SoLuong INT = 1
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Kiểm tra sản phẩm tồn tại
        IF NOT EXISTS (SELECT 1 FROM SANPHAM WHERE MaSP = @MaSP AND TrangThai = 'HoatDong')
        BEGIN
            RAISERROR(N'Sản phẩm không tồn tại hoặc không khả dụng', 16, 1);
            RETURN;
        END

        -- Kiểm tra tồn kho
        DECLARE @SoLuongTon INT = (SELECT SoLuongTon FROM SANPHAM WHERE MaSP = @MaSP);
        IF @SoLuongTon < @SoLuong
        BEGIN
            RAISERROR(N'Không đủ hàng trong kho', 16, 1);
            RETURN;
        END

        -- Lấy giá
        DECLARE @DonGia DECIMAL(18,2) = (SELECT DonGia FROM SANPHAM WHERE MaSP = @MaSP);

        -- Kiểm tra đã có trong giỏ chưa
        IF EXISTS (SELECT 1 FROM GIOHANG WHERE MaUser = @MaUser AND MaSP = @MaSP)
        BEGIN
            UPDATE GIOHANG
            SET SoLuong = SoLuong + @SoLuong,
                NgayThem = GETDATE()
            WHERE MaUser = @MaUser AND MaSP = @MaSP;
        END
        ELSE
        BEGIN
            INSERT INTO GIOHANG (MaUser, MaSP, SoLuong, DonGia)
            VALUES (@MaUser, @MaSP, @SoLuong, @DonGia);
        END

        SELECT 1 AS Success, N'Đã thêm vào giỏ hàng' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
USE [master]
GO
